<ion-header>
  <ion-navbar>
    <ion-title>
      Salas en PSL
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="createRoom()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
      <ion-item-sliding *ngFor="let room of roomsList">
        <ion-item>
            <ion-avatar item-start>
                <img src="data:image/png;base64,{{room.imagen}}">
              </ion-avatar>
            <h2>Sala {{room.nombre}}</h2>
            <button ion-button outline item-end icon-right (click)="viewDetail(room.nombre)">Ver
              <ion-icon name="eye"></ion-icon>
            </button>
            <p>Ocupada: 
              <font color="red" *ngIf="room.ocupada">Si</font>
              <font color="green" *ngIf="!room.ocupada">No</font>
            </p>      
        </ion-item>    
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteRoom(room.nombre)"><ion-icon class="delete-icon" name="trash"></ion-icon>Borrar</button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
